@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-out;
  }
}

.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon {
  display: none !important;
}

body {
  top: 0 !important;
}

#google_translate_element,
.goog-te-gadget {
  display: none !important;
}

html[dir="rtl"] body {
  direction: rtl;
}
